@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=block');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #ffffff;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	background-image: url('/public/moroccan-flower-dark.webp');
}

#root {
	margin-inline: auto;
	min-height: 100vh;
	padding: 1rem;
	background: rgb(23, 69, 120);
	background: linear-gradient(
		90deg,
		rgba(23, 69, 120, 1) 0%,
		rgba(28, 48, 93, 1) 65%
	);
	width: 100%;
	max-width: 1100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/* Inputs */
input,
textarea,
select {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	color: #fff;
}
button {
	cursor: pointer;
}

input[type='submit'] {
	margin-top: 20px;
	background-color: rgb(230, 32, 75);
	color: #fff;
	border: 0;
	height: 40px;
	margin-bottom: 10px;
	display: block;
	margin-inline: auto;
	width: fit-content;
	padding: 10px 30px;
	text-transform: uppercase;
	border-radius: 10px;
	transition: background-color 0.3s ease;
}

input[type='submit']:hover {
	background-color: rgba(230, 32, 75, 0.5);
}
input[disabled] {
	cursor: not-allowed;
}

textarea {
	height: 320px;
}

table,
th,
td {
	border: 1px solid;
}

td {
	padding: 10px;
}

a {
	font-weight: 500;
	color: #fff;
	text-decoration: inherit;
	transition: color 0.3s ease;
}

a:hover {
	color: #005564;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 2.2em;
	line-height: 1.1;
}

header {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	border-bottom: 1px solid #007d9354;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

nav {
	display: flex;
	gap: 1.2rem;
	align-items: center;

	& a.active {
		color: rgb(165, 4, 4);
		border-bottom: 1px solid rgb(165, 4, 4);
	}
}

footer {
	border-top: 1px solid #007d9354;
	text-align: center;
	padding-top: 1rem;
	margin-top: auto;
	font-size: 0.8rem;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.notes-wrapper {
	/* margin-bottom: auto; */
	width: 100%;
	text-align: center;
}

.notes-wrapper h1 {
	font-size: 4rem;
	margin-bottom: 4rem;
}

.subjects {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

.single-subject {
	font-weight: 400;
	border: 1px solid;
	width: fit-content;
	padding: 0 10px;
	border-radius: 10rem;
}

.subjects .single-subject {
	margin: 0 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #007d9354;
	}
}

.subjects label {
	margin-bottom: 10px;
}
/* Books */
ul.notes {
	align-items: center;
	display: grid;
	list-style: none;
	padding: 0;
	gap: 20px;
	margin-bottom: 2rem;
}

ul.notes-1,
ul.notes-2 {
	grid-template-columns: repeat(1, minmax(240px, 1fr));
}
ul.notes-4 {
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

@media only screen and (min-width: 768px) {
	ul.notes-1,
	ul.notes-2,
	ul.notes-3 {
		grid-template-columns: repeat(2, minmax(240px, 1fr));
	}
}

@media only screen and (min-width: 1200px) {
	ul.notes-1,
	ul.notes-2,
	ul.notes-3 {
		grid-template-columns: repeat(3, minmax(240px, 1fr));
	}
}

@media only screen and (min-width: 1500px) {
	ul.notes-1,
	ul.notes-2,
	ul.notes-3 {
		grid-template-columns: repeat(4, minmax(240px, 1fr));
	}
}
ul.notes li {
	background-color: #fcd633;
	color: #005564;
	border-radius: 10px;
	min-height: 250px;
	height: 100%;
	transition: background-color 0.3s ease;
	&:hover {
		background-color: #a08922;
	}
}

ul.notes li a {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	color: #213547;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

ul.notes h2 {
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 10px;
}

ul.notes .single-subject {
	margin-top: 0;
	margin-bottom: 10px;
}

ul.notes p {
	font-weight: 300;
	letter-spacing: 1px;
	font-family: 'Shadows Into Light', cursive;
}

.single-note {
	background-color: #fcd633;
	border-radius: 10px;
	padding: 20px;
	color: #213547;
}

.single-note .title {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.single-note .single-subject {
	font-size: 1rem;
	margin-bottom: 1rem;

	display: block;
}
.single-note .description {
	font-size: 1.6rem;
}

.add-note-button {
	font-size: 1.5rem;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
	border: none;
	background-color: unset;
	margin: 1rem auto;
}

.add-note-button > a {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: rgb(46, 141, 46);
	border-radius: 10px;
	padding: 10px;
	max-width: 400px;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: rgba(46, 141, 46, 0.5);
	}
}

.add-note-button > a > span {
	display: block;
	color: white;
}

.delete {
	border: 0;
	background-color: transparent;
	border: 1px solid #007d9354;
	border-radius: 10px;
	padding: 10px;
	color: #fff;
	font: inherit;
}

.delete,
.back-button {
	transition: background-color 0.3s ease;
	&:hover {
		background-color: #007d9354;
	}
}

.back-button {
	display: block;
	width: fit-content;
	border: 1px solid #007d9354;
	border-radius: 10px;
	padding: 10px;
}

.breadcrump-nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.text-center {
	text-align: center;
}
.success-message {
	color: #00a60e;
}

.error-message {
	color: #a60600;
}

.removed-note {
	background-color: #00a60e;
	color: #f1f6f4;
	border-radius: 10px;
	padding: 20px;
	font-size: 1.6rem;
	text-align: center;
}

.removed-note span {
	font-size: 6rem;
}

.removed-note a {
	color: #fcd633;
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.loader {
	height: 100px;
	width: 20%;
	text-align: center;
	padding: 1em;
	margin: 0 auto;
	display: block;
}

.loader svg {
	fill: #a60600;
}
